.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px;
}

.h-100 {
    height: 100vh;
}

.position-absolute {
  z-index: 999;
}

.list-group {
  max-height: 75vh;
}

.fa-search {
  color: #636363;
}

.input-group-prepend {
  background-color: #ffffff;
}

// custom scroll bar
/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}